{{with .Site.Data.integration}}
{{if .enable}}
<!-- Mark up for Integration Section-->
<section class="integration" id="integration">
  <div class="container">
      <div class="row justify-content-center align-items-center integration_items">
          <div class="col-md-9 ">
              <div class="section_header text-center ">
                  <h2>{{.title }}</h2>
                  <P>{{ .description }}</P>
                  <a href="{{ .url | absURL }}" class="link_style">Explore Integrations 
                      <svg width="15px" height="15px" viewBox="0 0 16 16"  class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                  </a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="integration_shape integration_center">
      <img src="{{.shapeCenter | absURL}}" alt="shape_center">
  </div>
  <div class="integration_shape integration_left_top">
      <img src="{{.shapeLeftTop | absURL}}" alt="shape_left_top">
  </div>
  <div class="integration_shape integration_left_center">
      <img src="{{.shapeLeftCenter | absURL}}" alt="shape_left_center">
  </div>
  <div class="integration_shape integration_left_bottom">
      <img src="{{.shapeLeftBottom | absURL}}" alt="shape_left_bottom">
  </div>
  <div class="integration_shape integration_right_top">
      <img src="{{.shapeRightTop | absURL}}" alt="shape_right_top">
  </div>
  <div class="integration_shape integration_right_center">
      <img src="{{.shapeRightCenter | absURL}}" alt="shape_right_center">
  </div>
  <div class="integration_shape integration_right_bottom">
      <img src="{{.shapeRightBottom | absURL}}" alt="shape_right_bottom">
  </div>
</section>
{{end}}
{{end}}